* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html, body
{
    height: 100%;
}


/*menu*/

header {
  background-color: white;
  padding: 10px 0;
  position:sticky;
  z-index:100000;

}

.menu-wrap {
  display: flex; /*makes sure child elements occupy all space horizontally*/
  justify-content: space-between; /*stretches child elements as far as possible*/
  padding: 0 15px;
}

.logo-img { /*child element*/
  height: 60px;
  padding-top:6px;
}

.menu-icon { /*child element*/
  font-size: 2.4em;
  color: black;
  line-height: 70px;
}

nav {
  position:absolute;
  background-color: #3D4852;
  top:20px;
  left:0;
  width: 100%;
  
}

nav ul {
  list-style-type: none;
  max-height:0;
  overflow: hidden;
  
}

nav ul li {
  padding: 0 15px;
}

nav ul li a {
  display: inline-block;
  padding: 9px;
  color: white;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-family: 'Raleway', sans-serif;
}

nav ul li a:hover, nav ul li a:focus {
  color: black;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ nav ul {
  max-height: 200px;
  padding: 15px 0;
  transition: all 0.5s;
}

@media (min-width: 1020px) {
  .logo-img {
    width:15%;
    height:auto;
  }
}

@media (min-width: 1020px) {
  .menu-icon {
     display: none;
  }
}

@media (min-width: 1020px) {
  nav {
    position: relative;
    background-color: transparent;
  }

  nav ul {
    max-height: 70px;
    padding: 15px 0;
    text-align: right;
  }

  nav ul li {
    display: inline-flex;
    padding-left: 20px;
  }

  nav ul li a {
    color:black;
    font-family: 'Raleway', sans-serif;
  }
}

/*Main Image and Headline*/

#background {
  width: 100%;
  height: auto;
  position:relative;

}

#main-container {
  background-color:white;
  width:100%;
  top:0%;
  text-align:center;

}

h1 {
  position: relative;
  padding-top:5%;
  color:black;
  z-index:1;
  font-family: 'Raleway', sans-serif;
  font-size:1.25em;
  text-align:center;
  margin-right: 10%;
  margin-left:10%;
  padding-bottom:1.5%;
}

h2 {
  position: relative;
  top:40%;
  color:black;
  font-family: 'Raleway', sans-serif;
  font-size:1em;
  text-align:center;
  margin-right: 10%;
  margin-left:10%;
  display: block;
  padding-bottom:1%;
}

a.button1 {
  display:inline-block;
  padding:0.8em 1em;
  margin:1em 0.3em 0.3em 0em;
  border-radius: 100px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Raleway', sans-serif;
  font-weight:1em;
  color:#FFFFFF;
  background-color:rgb(55, 165, 255);
  text-align:center;
  transition: all 0.2s;
  position: relative;
  top:70%;
  margin-bottom:8%;
  }

  a.button1:hover{
  background-color:#4095c6;
  }

  @media all and (max-width:30em){
   a.button1 {
  display:block;
  margin:0.2em auto;
  }
}


@media (min-width: 980px) {
#background {
  width: 100%;
  height: auto;
  position:relative;
  top:-30%;
  }

  h1 {
    position:absolute; 
    top:150px;
    left: 35%;
    margin-right: 2%;
    z-index: 10000;
    font-size: 2.5em;
    text-align: left;
    font-family: 'Raleway', sans-serif;

  }

  h2 {
    position:absolute; 
    top:340px;
    left: 35%;
    margin-right: 4%;
    z-index: 10000;
    font-size: 1.5em;
    text-align: left;
    font-family: 'Raleway', sans-serif;
  }

  a.button1 {
    display:inline-block;
    padding:1em 4em;
    margin:1em 0.3em 0.3em 0em;
    border-radius: 100px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Raleway', sans-serif;
    font-weight:1em;
    color:#FFFFFF;
    background-color:rgb(55, 165, 255);
    text-align:left;
    transition: all 0.2s;
    position: absolute;
    top:520px;
    left:45%;
    }
}
/* Second Container */

#container-2 {
  background-color:rgb(55, 165, 255);
  width:100%;
  text-align: center;

}
    
h3 {
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-size:1.20em;
  padding-top:10%;
  margin-left:10%;
  margin-right:10%;
  position:relative;
  color:white;
}

#h3-desc {
  color:white;
  font-family:'Raleway', sans-serif;
  padding-top:5%;
  position:relative;
  text-align:center;
  margin-left:10%;
  margin-right:10%;
  font-size:1em;
}


#integration {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index:100;
  padding-bottom:20%;
  display:inline-block;
}

@media (min-width: 980px) {
  #container-2 {
    position: relative;
    top: -230px;
  }

  h3 {
    text-align:center;
    font-family: 'Raleway', sans-serif;
    font-size:3em;
    padding-top:10%;
    margin-left:25%;
    margin-right:25%;
    position:relative;
    color:white;
  }
  

  #h3-desc {
    color:white;
    font-family:'Raleway', sans-serif;
    padding-top:5%;
    position:relative;
    text-align:center;
    margin-left:10%;
    margin-right:10%;
    font-size:2em;
  }

  #integration {
    width: 60%;
    height: auto;
    position: relative;
    z-index:100;
    padding-bottom:5%;
    display:inline-block;
  }

    }

/*Icon Map*/

#container-3 {
  width:100%;
  background-color:white;
  text-align: center;
}

h4 {
  position:relative;
  padding-top:10%;
  color:black;
  font-family:'Raleway', sans-serif;
  text-align:center;
  margin-left:10%;
  margin-right:10%;
  font-size:1.2em;
}

#icon-img {
  width: 100%;
  height: auto;
  position: relative;
  padding-top:10%;
  
}

@media (min-width: 980px) {
  h4 {
    position:relative;
    top:-300px;
    color:black;
    font-family:'Raleway', sans-serif;
    text-align:center;
    margin-left:25%;
    margin-right:25%;
    font-size:3em;
  }

  #icon-img {
    width: 80%;
    height: auto;
    position: relative;
    top:-380px;
    text-align: center;
    
  }

}

