* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html, body
{
    height: 100%;
}


/*menu*/

header {
  height: .5%;
  background-color: white;
  padding: 10px 0;
}

.menu-wrap {
  display: flex; /*makes sure child elements occupy all space horizontally*/
  justify-content: space-between; /*stretches child elements as far as possible*/
  padding: 0 15px;
}

.logo-img { /*child element*/
  height: 60px;
  padding-top:6px;
}
.menu-icon { /*child element*/
  font-size: 2.4em;
  color: black;
  line-height: 70px;
}

nav {
  position: absolute;
  background-color: #3D4852;
  top:70px;
  left:0;
  width: 100%;
  z-index:100;
}

nav ul {
  list-style-type: none;
  max-height:0;
  overflow: hidden;
  
}

nav ul li {
  padding: 0 15px;
}

nav ul li a {
  display: inline-block;
  padding: 9px;
  color: white;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-family: 'Raleway', sans-serif;
}

nav ul li a:hover, nav ul li a:focus {
  color: black;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ nav ul {
  max-height: 200px;
  padding: 15px 0;
  transition: all 0.5s;
}

@media (min-width: 960px) {
}

@media (min-width: 960px) {
  .menu-icon {
     display: none;
  }
}

@media (min-width: 960px) {
  nav {
    position: relative;
    top:-10px;
    background-color: transparent;
  }

  nav ul {
    max-height: 70px;
    padding: 15px 0;
    text-align: right;
  }

  nav ul li {
    display: inline-flex;
    padding-left: 20px;
  }

  nav ul li a {
    color:black;
    font-family: 'Raleway', sans-serif;
  }
}

/*Main Image and Headline*/

#background {
  width: 100%;
  height: auto;
  position:relative;
  top:7%;
}

#main-container {
  background-color:white;
  height:50%;
  width:100%;
  top:0%;

}

h1 {
  position: relative;
  top:20%;
  color:black;
  z-index:1;
  font-family: 'Raleway', sans-serif;
  font-size:1.25em;
  text-align:center;
  margin-right: 10%;
  margin-left:10%;
}

h2 {
  position: relative;
  top:30%;
  color:black;
  font-family: 'Raleway', sans-serif;
  font-size:1em;
  text-align:center;
  margin-right: 10%;
  margin-left:10%;
  display: block;
}

#main-button {
  padding: 4vw 8vw;
  background: rgb(55, 165, 255);
  border: none;
  border-radius:100px 100px 100px 100px;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:center;
  color:white;
  font-family: 'Raleway', sans-serif;
  white-space: nowrap;
  
  }

/* Second Container */

#container-2 {
  background-color:rgb(55, 165, 255);
  height:80%;
  top:0%;
  max-width:100%;
  
}
    
h3 {
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-size:1.20em;
  top:5%;
  margin-left:10%;
  margin-right:10%;
  position:relative;
  color:white;
}

#h3-desc {
  color:white;
  font-family:'Raleway', sans-serif;
  top:10%;
  position:relative;
  text-align:center;
  margin-left:10%;
  margin-right:10%;
  font-size:1em;
}


#integration {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index:100;
  float:left;
  top:15%;
}

/*Icon Map*/

#container-3 {
  width:100%;
  height:50%;
  background-color:white;
}

h4 {
  position:relative;
  top:10%;
  color:black;
  font-family:'Raleway', sans-serif;
  text-align:center;
  margin-left:10%;
  margin-right:10%;
  font-size:1.2em;
  z-index:100
}

#icon-img {
  width: 100%;
  height: auto;
  position: relative;
  top:20%;
  
}

