* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*menu*/

header {
  height: 70px;
  background-color: white;
  padding: 10px 0;
}

.menu-wrap {
  display: flex; /*makes sure child elements occupy all space horizontally*/
  justify-content: space-between; /*stretches child elements as far as possible*/
  padding: 0 15px;
}

.logo-img { /*child element*/
  height: 50px;
}
.menu-icon { /*child element*/
  font-size: 2.4em;
  color: black;
  line-height: 50px;
}

nav {
  position: absolute;
  background-color: #3D4852;
  top:70px;
  left:0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  max-height:0;
  overflow:hidden;
  
}
nav ul li {
  padding: 0 15px;
}
nav ul li a {
  display: inline-block;
  padding: 12px;
  /* Add your custom styles below to change appearance of links */
  color: white;
  text-decoration: none;
  letter-spacing: 0.05em;
}
nav ul li a:hover, nav ul li a:focus {
  color: black;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ nav ul {
  max-height: 200px;
  padding: 15px 0;
  transition: all 0.5s;
}

/*Main Image and Headline*/

#main-header {
  position: relative;
  text-align: center;
  background: white;
}

#background {
  width: 100%;
  height: auto;
  opacity: 0.8;
}

h1 {
  position: absolute;
  top:20%;
  left:30%;
  color:black;
}

h2 {
  position: absolute;
  top:40%;
  left:30%;
  color:black;
}